name: Deploy static site

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload /site folder
        uses: actions/upload-pages-artifact@v2
        with:
          path: site

      - name: Deploy pages
        id: deploy-pages
        uses: actions/deploy-pages@v2
